<div>
    <h3>
       <h1>1st student</h1>
        ID:{{student1.id}} <br/>
        Name:{{student1.name}} <br/>
        Marks:{{student1.marks}}<br/>
        Remarks:{{student1.marks | result}}

        <h1>2nd student</h1>
        ID:{{student2.id}} <br/>
        Name:{{student2.name}} <br/>
        Marks:{{student2.marks}}<br/>
        Remarks:{{student2.marks | result}}

        <h1>3rd student</h1>
        ID:{{student3.id}} <br/>
        Name:{{student3.name}} <br/>
        Marks:{{student3.marks}}<br/>
        Remarks:{{student3.marks | result}}

    </h3>
</div>